<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'ajout d'un élève</title>
    <link rel="stylesheet" th:href="@{static/css/formulaire.css}">
</head>
<body>
<h1>Formulaire d'inscription des élèves</h1>

<div class="container">
    <form action="#" th:action="@{/listEleves/}" th:object="${eleve}" method="post" id="formEleve">

        <p>Entrer le nom de l'élève : <input type="text" id="nom", th:field="*{nom}"></p>
        <p>Entrer le prénom de l'élève : <input type="text" id="prenom", th:field="*{prenom}"></p>
        <p>Entrer l'age de l'élève : <input type="number"  id="age"
                                            min="18" max="80", th:field="*{age}"></p>
        <p>Entrer l'adresse de l'élève : <input type="text" id="adresse", th:field="*{adresse}"></p>
        <button type="submit"value="Submit">Ajouter</button>
    </form>
    <br>
    <a href="/">Revenir à l'acceuil</a>

</div>
</body>
</html>